## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(101), 80)
print("sample_list_1:", sample_list_1)

sample_list_1: [64, 86, 40, 19, 6, 38, 63, 51, 81, 1, 60, 93, 46, 31, 21, 55, 0, 25, 54, 66, 36, 98, 16, 58, 44, 23, 27, 65, 71, 37, 84, 34, 74, 49, 56, 97, 18, 95, 69, 83, 75, 24, 73, 39, 10, 13, 41, 61, 85, 50, 35, 79, 14, 78, 89, 30, 5, 92, 99, 33, 72, 88, 12, 22, 80, 11, 82, 15, 29, 43, 3, 96, 47, 2, 70, 67, 94, 59, 7, 4]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
set1 = set(sample_list_1)
print("Length of set1:", len(set1))

Length of set1: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
sample_list_2 = []
for _ in range(80):
    sample_list_2.append(random.randint(0, 100))
print("sample_list_2:", sample_list_2)

sample_list_2: [21, 93, 23, 43, 74, 70, 15, 91, 46, 4, 84, 43, 93, 55, 21, 54, 5, 15, 67, 83, 84, 23, 11, 35, 34, 50, 12, 80, 61, 63, 40, 21, 20, 50, 58, 68, 38, 34, 0, 10, 75, 75, 88, 97, 92, 76, 83, 50, 92, 4, 27, 62, 6, 94, 13, 46, 69, 4, 38, 39, 90, 86, 21, 24, 75, 84, 55, 39, 7, 1, 2, 51, 35, 10, 75, 59, 76, 50, 42, 65]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
set2 = set(sample_list_2)
print("Length of set2:", len(set2))

Length of set2: 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set1 - set2
print("set3 (set1 - set2):", set3)

set3 (set1 - set2): {3, 14, 16, 18, 19, 22, 25, 29, 30, 31, 33, 36, 37, 41, 44, 47, 49, 56, 60, 64, 66, 71, 72, 73, 78, 79, 81, 82, 85, 89, 95, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [ ]:
set4 = set2 - set1
print("set4 (set2 - set1):", set4)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
set5 = set1 & set2
print("set5 (intersection):", set5)

set5 (intersection): {0, 1, 2, 4, 5, 6, 7, 10, 11, 12, 13, 15, 21, 23, 24, 27, 34, 35, 38, 39, 40, 43, 46, 50, 51, 54, 55, 58, 59, 61, 63, 65, 67, 69, 70, 74, 75, 80, 83, 84, 86, 88, 92, 93, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
print("len(set1):", len(set1))
print("len(set2):", len(set2))
print("len(set3):", len(set3))
print("len(set4):", len(set4))
print("len(set5):", len(set5))

#### Create an empty set called `set6`.

In [ ]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
set6.update(set3)
set6.update(set5)
print("set6 (set3 + set5):", set6)

#### Check if `set1` and `set6` are equal.

In [15]:
print("set1 == set6:", set1 == set6)

NameError: name 'set6' is not defined

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
print("set2 is subset of set1:", set2.issubset(set1))  
print("set3 is subset of set1:", set3.issubset(set1))

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
union1 = set3.union(set4).union(set5)
# Union of set1 and set2
union2 = set1.union(set2)
print("Union of set3+set4+set5 == set1+set2:", union1 == union2)  # Should be True

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Remove first element using pop()
popped_element = set1.pop()
print("Removed element from set1:", popped_element)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    set1.discard(item) 
    
print("Remaining elements in set1 after removal:", set1)